/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*{
  box-sizing:border-box;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: courier, monospace;
  line-height: 1.5;
}

header{
  background-color: forestgreen;
  color:whitesmoke;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

#counter {
  margin: 1.5rem 0;
}

#count-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
container{
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px black;
  outline: 2px solid black;
  z-index: 1;
}
square{
  background-color: transparent;
  height: 10px;
  width: 10px;
  /* outline: 1px solid gray; */
  border-radius: 50%;
}
#clearContainer{
  display: block;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: peachpuff;
  width: 150px;
  height: 50px;
  margin: 2rem auto;
}
#clearContainer:hover{
  background-color: lightcoral;
  color: whitesmoke;
  cursor: pointer;
}